/* .adminimg {
    height: 55px;
    width: 55px;
    position: fixed;
    left: 50%;
    margin-top: -49px;
}  */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    /* color: black; */
}
body{
    padding: 0;
    margin: 0%;
}
.wlcimg {
    float: right;
    width: 35px;
    height: 36px;
    margin-right: 2px;
}
.hadmin{
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    right: 15px;
}
.adminimg {
    height: 55px;
    width: 55px;
    position:absolute;
    left: 88.6%;
    margin-top: 10px;
    display: none;
}
.aheader{
    position: sticky;
    top: 50px;
  }
.aheader ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9ed034;
}
.aheader ul li {
   float: left;
}
.aheader ul li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 28px 18px;
    text-decoration: none;
}
.aheader ul li a:hover{
    background-color: rgb(223, 37, 37);
    color: #9ed034;
}
.adminsidebar {
    /* width: 300px; */
    height: 600px;
    background-color: rgba(158, 208, 49,0.5);
    margin-left: 15px;
    position: sticky;
    top: 3%;
    border-radius: 25px;
}
.adminside li{
    color: rgb(5, 168, 27);
    margin: 3px;
    text-align: center;
    font-size: 18px;
    margin-top: 28px;
}
.adminside{
height: 0%  ;
    position: sticky;
    top: 0%;
}
.adminside .btnn{
    width: 100%;
    background-color: #9ed034;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.adminside .btnn:hover{
    background-color: #7a973b;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}
.adminside .btnn:focus{
    background-color: #9ed034;
    outline: none;
    color: rgb(0, 0, 0);
}
.main-header{
    margin-top: -60px;
}
.dropdown ul{
    padding-right:168.5px;
}
.admincontent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35%;
}
.admincontent .btnn {
    border: 1px solid black;
    border-radius: px;
    display: flex;
    /* display: inline; */
    margin-bottom: 3px;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    color: black;
    width: 250px;
    height: 40px;
    transition: width 2s, height 2s, transform 0.5s;
}
.admincontent .btnn:hover{
    transform: scale(1.1);
    background-color: #9ed034;
    border-radius: 5px;
}

.admincontent .imgg {
    margin-top: -131px;
    opacity: 0.2;
    padding-right: -4px;
    margin-left: 67px;
}
.admintable{
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: -300px;
}
.dltbtn{
    padding: 8px;
    border-radius: 10px;
    background-color: #f1dddd;
    color: black;
    text-decoration: none;
}
.dltbtn:hover{
    background-color: red;
    color: white;
    text-decoration: none;
}
.adminupdate{
    margin-bottom: 5px;
    width: 250px;
    font-weight: 600;
    font-family: monospace;
    text-align: center;
    padding: 10px;
}
.insertdiv{
    width: 100%;
    margin-top: -280px;
    /*height: 100%;*/
}
.insertdiv input{
    width: 100%;
    /* border-radius: 10px; */
}
.insertdiv .btn{
    margin-top: 10px;
}
@media (max-width:1200px){
    .admintable{
        margin-top: -140px;
    }
}

@media (min-width: 1200px){
.container {
    width: 1300px;
}
}

@media screen and (max-width: 1000px) {
    .adminimg{
        left: 68.5%;
    }

}
